<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Job</title>
  </head>
  <body>
    <h1>Add job</h1>
    <form action="/JobHistory" method="post">
        <label for="employer">Employer</label>
        <input type="text" name="employer" id="employer">

        <label for="title">Title</label>
        <input type="text" name="title" id="title">

        <label for="startDate">Start Date</label>
        <input type="date" name="startDate" id="startDate">

        <label for="endDate">End Date</label>
        <input type="date" name="endDate" id="endDate">

        <label for="description">Job Description</label>
        <input type="text" name="description" id="description">

        <button type="submit" class="btn">Submit!</button>
    </form>
  </body>
</html>
